.electron {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
  
.passerEnRond {
position: absolute;
border-radius: 50%;
}

.containerAtome {
width: 100%;
height: 100%;
position: absolute;
top: 0px;
left: 0px;
}