@font-face {
  font-family: 'LCS';
  src: url('./fonts/LCSac Trial-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'London';
  src: url('./fonts/London.ttf') format('truetype');
}

@font-face {
  font-family: 'testo';
  src: url('./fonts/PreTesto.ttf') format('truetype');
}

.App {
  text-align: center;
  background: linear-gradient(135deg, #00bfff 1%, #314a67 15%, #1e2b3a 25%, #314a67 50%, #1e2b3a 75%, #314a67 85%, #00bfff 99%);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
  color: white;
  z-index: 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%; 
  }
  100% {
    background-position: 0% 50%;
  }
}

.typo {
  background-color: white;
  z-index: 2;
  position: relative;
  width: max-content;
  padding: 5px 10px;
  border-radius: 10px;
  color:#345287;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  z-index: 10;
}

main {
 padding-bottom: 65px;
}

/* Balles */

.balle {
  position: absolute;
  width: 4px; /* Largeur du cercle */
  height: 4px; /* Hauteur du cercle */
  z-index: 1;
  background-color: rgb(255, 255, 255); /* Couleur du cercle */
  border-radius: 50%; /* Pour rendre le cercle arrondi */
  top: 100vh; /* Position verticale au bas de l'écran */
}

.ListItem {
  max-width: 220px;
  min-width: 220px;
  margin: 15px;
  border: 1px solid rgb(94, 91, 91);
  border-radius: 30px;
  color: #234187;
  background-color: white;
  z-index: 2;
}

.card {
  background-color: white;
  z-index: 2;
  padding: 20px;
  font-family: 'testo';
  font-weight: 600;
  font-size: 20px;
}

h1, h2 {
  font-family: 'London' !important;
  text-shadow: rgb(0, 0, 0) 2px 0 10px;
}


h3, h4 {
  font-family: 'LCS' !important;
  color: white !important;
  background-color: #1e2b3a00 !important
}

